/* Contact header styles */
.page-header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 15;
}

/* fixed-header */
.fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #8034C3;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    transition: ease 1s;
    z-index: 10;
}
/* fixed-header */

.page-header .container {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.page_header__brand a img {
    height: 25px;
}

.page-navigation {
    margin-left: 6.25rem;
}

.page-navigation__item {
    display: inline-block;
    padding: 0.625rem; /* 10px / 16px = 0.625rem */
}

.page-navigation__item a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem; /* 12px / 16px = 0.75rem */
    font-weight: 500;
}

.page-navigation__item a:hover {
    color: #efb6df;
}

.page-navigation__item.active a {
    color: #efb6df;;
}

/* dropdown */
.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    margin-top: 10px;
    min-width: 150px;
    list-style: none;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
}
.page-navigation__item > ul {
    list-style-type: none;
    padding-inline-start: 0;
}
.dropdown > .dropdown__item > a {
    color: #05364d;
    font-size: 0.75rem;
    padding: 20px;
    margin-left: 0;
    text-transform: capitalize;
}
.dropdown > .dropdown__item {
    padding: 20px 0;
    border-bottom: 1px solid #EDEDED;
}
.dropdown > .dropdown__item:hover {
    display: block;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);;
}
.dropdown > .dropdown__item:hover > a:hover {
    color: white;
}
.page-navigation__item:hover .dropdown {
    display: block;
}
/* /dropdown */

.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 450px;
    background: url(/css/project/img/banner.webp) no-repeat right bottom;
}

.banner > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
}

.banner_content > h2 {
    font-size: 45px;
    font-weight: 700;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}
.page_link {
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page_link > a {
    text-decoration: none;
    color: white;
}
.page_link > svg {
    margin: 0 10px;
}

/* Contact content style */
.contact {
    padding: 6.25rem 1.25rem;; /* 1) 100px / 16px = 6.25rem 2) 20px / 16px = 1.25rem */
}

textarea, input {
    width: 100%;
    margin-top: 0.625rem; /* 10px / 16px = 0.625rem */
    margin-bottom: 10px;
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    padding: 0.87rem; /* 14px / 16px = 0.87rem */
    padding-left: 1.12rem; /* 18px / 16px = 1.12rem */
    font-size: 0.81rem; /* 13px / 16px = 0.81rem */
    background: transparent;
    color: #495057;
}

textarea:focus,
input:focus {
    outline: 0;
    /*box-shadow: none;*/
}

.half-flex {
    display: flex;
}

.contact-firstname {
    padding-right: 0.94rem; /* 15px / 16px = 0.94rem */
    flex: 1;
}

.contact-email {
    padding-left: 0.94rem; /* 15px / 16px = 0.94rem */
    flex: 1;
}

.contact-send {
    margin-top: 1.87rem; /* 30px / 16px = 1.87rem */
}


       /* Breakpoints styles */
@media only screen and (max-width: 991px) {
    .half-flex {
        flex-direction: column;
    }

    .contact-firstname,
    .contact-email {
        padding: 0;
    }
}