/* Breakpoints styles */
@media only screen and (max-width: 991px) {
    /* Main section */
    .main-section__image {
        display: none;
    }

    .main-section > div {
        width: 100%;
    }

    /* Statistics section */
    .statistics {
        padding-top: 1rem;
        text-align: center;
    }

    /* About me section */
    .about-me {
        padding: 1.5rem;
        margin-top: 40px;
    }

    .about-me > div {
        width: 100%;
    }

    .about-me__image img {
        display: none;
    }

    /* Services section */
    .services {
        padding: 1.5rem;
        margin-top: 40px;
    }

    .service-card {
        width: 45%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* Clients section */
    .clients {
        padding: 1.5rem;
        margin-top: 40px;
    }

    .client-item__image {
        text-align: center;
    }

    .client-item > div {
        width: 100%;
        float: none;
    }

    /* Portfolio section */
    /*.portfolio {*/
    /*    padding: 1.5rem;*/
    /*    margin-top: 40px;*/
    /*}*/

    /* Portfolio section styles */
    .portfolio-item-1 {
       padding-left: 11px;
    }

    .portfolio-item-3 {
        position: absolute;
        top: 225px; /* 335px / 16px = 20.93rem */
        right: 191px; /* 285px / 16px = 17.81rem */
        width: 25%;
    }

    .portfolio-item-4 {
        position: absolute;
        top: 225px;
        right: 0;
        width: 25%;
    }

    .portfolio-item-6 {
        position: absolute;
        top: 450px;
        right: 0;
        width: 50%;
    }

    .portfolio-item__info {
        position: absolute;
        bottom: 44px;
        left: 80px;
        color: white;
        visibility: hidden;
        z-index: 1;
    }

    .portfolio-item:hover .portfolio-font {
        visibility: visible;
        bottom: 5px;
    }

    /* Blog section */
    .blog-item {
        width: 45%;
        margin-bottom: 20px;
    }

    /* Partners  section */
    .partners {
        padding: 1.87rem 0; /* 30px / 16px = 1.875rem */
    }

    .partner {
        margin: 1rem 0; /* 24px / 16px = 1rem */
    }
}


@media only screen and (max-width: 767px) {
    /*Main section */
    .main-banner {
        background: none;
        min-height: auto;
    }

    /*.main-section__image {*/
    /*    display: none;*/
    /*}*/

    .main-section__action {
        display: none;
    }

    /*.main-section > div {*/
    /*    width: 100%;*/
    /*}*/

    .main-section__introduction {
        font-size: 3rem;
    }

    /* Statistics section */
    .statistics {
        padding-top: 3rem;
    }

    .statistics__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    /* About me section */
    /*.about-me {*/
    /*    padding: 1.5rem;*/
    /*    margin-top: 40px;*/
    /*}*/

    /*.about-me > div {*/
    /*    width: 100%;*/
    /*}*/

    /*.about-me__image img {*/
    /*    display: none;*/
    /*}*/

    /* Services section */
    /*.services {*/
    /*    padding: 1.5rem;*/
    /*    margin-top: 40px;*/
    /*}*/

    .service-card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* Clients section */
    /*.clients {*/
    /*    padding: 1.5rem;*/
    /*    margin-top: 40px;*/
    /*}*/
    /*.client-item > div {*/
    /*    width: 100%;*/
    /*    float: none;*/
    /*}*/

    /* Portfolio section styles */
    /* Portfolio section */
    /*.portfolio {*/
    /*    padding: 1.5rem;*/
    /*    margin-top: 40px;*/
    /*}*/
    .portfolio-item {
        width: 100%;
    }

    .portfolio-item-1,
    .portfolio-item-2,
    .portfolio-item-3,
    .portfolio-item-4,
    .portfolio-item-5,
    .portfolio-item-6 {
        position: static;
        padding-left: 5px;
    }

    /* Blog section */
    .blog-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* Partners section */
    .partners {
        padding: 1.5rem;
        margin-top: 40px;
    }
    .partner {
        display: block;
        padding: 0;
        text-align: center;
        margin-bottom: 20px;
    }
}