img {
    width: 1000px;
}

.topic {
    color: red;
    font-size: 24px;
}

.heading {
    font-size: 20px;
}

.red {
    color: red;
}

pre {
    color: #ffffff;
}

.pre {
    background-color: #021017;
    width: 1400px
}